# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.DS_Store
.vscode/
*.log
*.tmp
#python package
*.egg
*.egg-info/
dist/
build/

#Virtual enverioment
venv/
env/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de sistema
Thumbs.db
ehthumbs.db
.idea/
temporal/